body { 
  background:#ffffff none repeat scroll 0 0; 
  color:#333333;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:12px;
  margin:0;
  padding:0;
  text-align:left;
}

div, input, form {
  margin:0;
  padding:0;
}

a {
	color:#3b5998;
	cursor:pointer;
	outline-style:none;
	text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

img {
	margin:0;
	padding:0;
	border:0;
}

.ig_clear {
  clear:both;
}

.bold {
  font-weight:bold;
}

.ig_title {
  margin:0px;
  padding:5px 0;
  font-weight:bold;
  font-size:13px;
  border-bottom:1px solid #cccccc;
}

.seplinks {
  margin:0;
  padding:0;
  list-style:none;
}

.seplinks li {
  display:inline;
}

.seplinks li.sep {
  padding:0px 0px;
  margin:0 5px;
}

.sep, .leftarrow, .rightarrow {
  font-family:Arial;
  font-size:10px;
}

.leftarrow {
  padding-right:5px;
}

.rightarrow {
  padding-left:5px;
}

.ig_info_msg {
	padding:10px;
	border:2px solid #228B22;
	background-color: #ccffcc;
	color:#228B22;
	font-weight:bold;
}

#ig_center_cnt {
	min-height:200px;
}

#ig_center_cnt h3 {
  font-size:14px;
  font-weight:bold;
  color:#333333;
  margin:0 0 0 0;
  padding:5px 0;
  position:relative;
}

.ig_mini_link {
  position:absolute;
  bottom:5px;
  right:0px;
  font-size:11px;
  font-weight:normal;
  padding-right:5px;
  padding-top:2px;
  text-align:right;
}

.ig_content_buff {
  clear:both;
}

.spaced {
	padding:10px;
}

.spacedsmall {
	padding:3px;
}

.noshow {
	display: none;
}

ol, ol li {
  margin:0px;
}



/* BUTTONS */

.ig_submit button, .ig_undr_submit button {
  margin-right:10px;
}

.buttons a, .buttons button, .buttons submit {
	background-color:#f5f5f5;
	border:1px solid #cccccc;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px; /* Links */
}

.buttons button, .buttons submit {
	width:auto;
	overflow:visible;
	padding:4px 10px 3px 7px; /* IE6 */
}

.buttons button[type], .buttons submit[type] {
	padding:5px 10px 5px 7px; /* Firefox */
	line-height:17px; /* Safari */
}

*:first-child+html button[type], *:first-child+html submit[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img, .buttons submit img {
	margin:0 3px -3px 0 !important;
	padding:0;
	border:none;
	width:16px;
	height:16px;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	width: 99%;   /* remove horizontal scroll-bar when viewing in IE7 */
	background:#ffffff none repeat scroll 0 0; 
	color:#333333;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	padding-:0px;
	margin:0px;
}

.rtalign {
	text-align:right;
}

.ltalign {
	text-align:left;
}

