#ig_footer_cnt {
  height:40px;
  clear:both;
  padding-top:25px;
}

#ig_footer_center {
  border-top:1px solid #dddddd;
  margin:15px auto;
	width:964px;
  position:relative;
  font-size:11px;
  height:40px;
}

#ig_footer_cnt a {
  font-size:11px;
}

#ig_footer_right {
  position:absolute;
  right:0px;
  width:480px;
  text-align:right;
  top:5px;
}

#ig_footer_left {
  position:absolute;
  left:0px;
  width:480px;
  top:5px;
}

