form {
  margin: 0;
  padding: 0 0 20px 0;
}

input, select, textarea {
  color:#333333;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:12px;
  color: #000000;
  border:1px solid #999999;
  background-color:#ffffff;
}

textarea {
  overflow: auto;
  display:block;
}

form div.ig_req {
  display: block;
  margin: 0;
  padding: 2px 0px;
}

form div.ig_req img {
	padding: 2px;
	background-color:#ffffff;
	border:1px solid #cccccc;
}

form div.ig_req, form div.ig_opt, form div.ig_submit, form div.ig_links {
  position:relative;
  width: 554px;  
  margin-left:160px;
  padding-bottom:5px;
}

form div.ig_undr {
  position:relative;
  padding: 0 0 5px 20px;
  width:700px;
}

form div.ig_undr_submit {
  position:relative;
  padding: 12px 0 5px 20px;
  width:700px;
}

form fieldset {
	min-height: 150px;
}

form fieldset, .panel {
  clear: both;
  font-size: 100%;
  border-color: #cccccc;
  border-width: 1px 1px 0 0;
  border-style: solid solid none none;
  padding:0;
  margin:0;
}

form .ig_fs_wrap, .ig_panel_wrap {
	position:relative;
}

form fieldset.titled {
  margin: 0;
  padding:20px 10px 0 0;
}

form fieldset legend {
  font-size:14px;
  font-weight:bold;
  color:#333333;
  margin:0;
  padding:0 10px 10px 0;
}

form div label {
  display: block;
  position:absolute;
  left:-160px;
  width: 150px;
  padding: 0px 10px 3px 0;
  margin: 0 0 5px 0;
  text-align: right;
}

form div.ig_req label {
  font-weight: bold;
}

form span.ig_indent {
  margin:3px 0 0 160px;
  display:block;
}

form .ig_links {
	padding:15px 0;
}

form span.ig_reqdot {
  color:#6666ff;
  font-weight:bold;
  padding-right:3px;
}

form div.ig_fld_space {
  height:3px;
  padding:0px;
  margin:0px;
}

form div select {
  width: 200px;
  margin: 0;
}

form div select.wide {
  width: 300px;
  margin: 0;
}

form div select.small {
  width: 100px;
  margin: 0;
}

form div textarea {
  width: 394px;
  height:150px;
  min-height:150px;
  padding: 2px 3px;
  margin: 0 0 0 0;
}

form div textarea.short {
  height:100px;
  min-height:100px;
}

form div textarea.tiny {
  height:50px;
  min-height:50px;
}

form span.ig_err {
  display:block;
  padding:8px 8px 8px 35px;
  margin:5px 0 0 0;
  background:#ffeeee url(/images/error.gif);
  background-repeat: no-repeat;
  background-position:2% 50%;
  color:#990000;
  width:375px;
}

form span.ig_global_err {
  display:block;
  padding:12px 12px 12px 50px;
  margin:0 0 15px 0;
  background:#ffeeee url(/images/error.gif);
  background-repeat: no-repeat;
  background-position:2% 50%;
  color:#990000;
  width:650px;
}

form div.ig_global_info {
	background-color:#d4d8f6;
	border:1px solid #3e5376;
	color:#113c83;
	font-size:14px;
	font-weight:bold;
  padding:12px 12px 12px 15px;
  margin:0 0 15px 0;
  width:650px;  
}

form div span.ig_extra {
  display:block;
  margin:0px;
  padding: 3px 0px;
  font-size:11px;
  width:400px;
  color:#666666;
  clear:both;
}

form div div.ig_link {
  display:block;
  margin:0px;
  padding: 1px 3px;
  font-size:11px;
  width:400px;
  color:#444466;
}

form div label.ig_label_none {
  display: block;
  width: 190px;
  padding: 4px 0 0 18px;
  text-indent: -18px;
  line-height: 120%;
}

form div input.txtt {
  width: 54px;
  padding: 2px 3px;
  margin: 0 0 0 0;
  border:1px solid #999999;
}

form div input.txts, form div input.pass {
  width: 94px;
  padding: 2px 3px;
  margin: 0 0 0 0;
  border:1px solid #999999;
}

form div input.txt, form div input.pass {
	margin-left:-130px;
  width: 194px;
  padding: 2px 3px;
  margin: 0 0 0 0;
  border:1px solid #999999;
}

form div input.txtw, form div input.passw {
  width: 294px;
  padding: 2px 3px;
  margin: 0 0 0 0;
  border:1px solid #999999;
}

form div input.txtvw, form div input.passw {
  width: 394px;
  padding: 2px 3px;
  margin: 0 0 0 0;
  border:1px solid #999999;
}

form div input.txtm, form div input.passm {
  width: 94px;
  padding: 2px 3px;
  margin: 0;
  border:1px solid #999999;
}

form div input.rdio, form div input.chkbox {
	margin: 0 5px 5px 0;
}

form fieldset div.ig_info {
  position:absolute;
  top:0;
  right:15px;
  width: 175px;
  height: auto;
  padding: 5px 5px 15px 5px;
  border: 1px solid #bbbbbb;
  background-color: #ffffee;
  color: #666666;
  font-size: 11px;
}

form fieldset div.ig_info h4 {
  background-image: url(/images/info.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 3px 0 3px 27px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #bbbbbb;
  color: #666666;
  font-size 12px;
  font-weight:bold;
  margin:5px 0;
}

form fieldset div.ig_info p {
  padding:5px 5px 3px 5px;
  margin:0px;
  color: #666666;
}

form div.ig_text {
  padding:0 0 10px 0;
  margin:0;
  color: #666666;
  width: 700px;
}

form div.ig_submit {
  padding: 15px 0 0 0;
}

#ig_center_cnt form h3.ig_sect_title, #ig_center_cnt form h3.ig_sect_title2 {
  border-bottom:1px solid #cccccc;
  padding:10px 0 5px 0;
  font-size:14px;
  font-weight:bold;
  width:700px;
  margin:0 0 20px 0;
}

#ig_center_cnt form h3.ig_sect_title2 {
  padding:30px 0 5px 0;	
}

form .ig_postfix {
	padding-left:10px;
}
	
.ig_sectsep {
  padding:20px 5px;
}

.ig_sepline {
  width:700px;	
  border-bottom:1px solid #cccccc;
}

.ig_question {
	font-style: italic;
	padding:0 5px 10px 0;
	font-size:13px;
}

#ig_form_menu {
  padding:15px 0 5px 0;
  font-size:11px;
}

#ig_form_menu_left {
  float:left;
}

#ig_form_menu_right {
  text-align:right;
  float:right;
}

#ig_form_menu_left, #ig_form_menu_right {
  width:400px;
}

.ig_field_title {
  position:relative;
  padding: 5px 0 5px 20px;
  width:700px;
  font-size:12px;
  font-weight:bold;
}

.hchkbox, .hrdio {
  margin: 0 10px 0 0;
}

.ig_field, .ig_dependent {
  width:720px;
  padding:2px;  
}

.active {
  background-color:#ffffbb;
}

.hovered {
  background-color:#ffff99;
}

.topdep {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding-top:5px;
}

.sidedep {
  border-right: 1px solid #cccccc;
}

.ig_isd {
  overflow:auto;
  width: 515px;
  height:300px;
  border:1px solid #999999;  
  margin-bottom:10px;
  padding:10px;
}

.important {
  color: #990000;
}

/* multiple select box styles */
.ig_msb {
}

.ig_msb td {
	padding:5px 10px 0 0;
}

.ig_msb_header {
  font-weight:bold;
  font-size:12px;
}

.ig_msb_buttons button {
  margin-bottom:5px;
}

.ig_msb_select {
  height: 200px;
}